* {
    box-sizing: border-box;
}

body {
    background-color: #F2F6F8;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

a {
    text-decoration: none;
}

.mobile {
    position: relative;
    overflow: hidden;
    border: 2px solid #F1EDED;
    border-radius: 10px;
    height: 600px;
    width: 350px;
}

.mobile .content {
    background-color: #fff;
    position: absolute;
    top: 60px;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow-y: auto;
}

.log {
    font-size: 14px;
    padding: 20px;
    border-bottom: 1px solid #2B3547;
}

.log__header {
    position: relative;
    font-size: 12px;
    font-weight: bold;
}

.log__ticket {
    text-decoration: none;
    color: #4BCBD8;
}

.log__icon {
    color: #E77A7A;
    font-size: 12px;
    position: absolute;
    top: 5px;
    right: 0;
}

header {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #86D8C9;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100%;
    color: #FFF;
}

.back {
    position: absolute;
    top: 20px;
    left: 20px;
}

.back i {
    color: #fff;
}


.footer-nav ul {
    background-color: #F8FAFA;
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 60px;
}

.footer-nav li {
    color: #BEC5D8;
    cursor: pointer;
    flex: 1;
    padding: 10px;
    text-align: center;
}

.footer-nav ul li p {
    font-size: 12px;
    margin: 2px 0;
}

.footer-nav ul li:hover {
    color: #86D8C9;
}

.footer-nav ul li a {
    text-decoration: none;
    color: #BEC5D8;
}

.footer-nav ul li:hover a,
.footer-nav ul li.active a,
.footer-nav ul li a:hover {
    color: #86D8C9;
}