<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>내가 작성한 public 메시지 전체 조회</title>
    <link th:href="@{/css/user-info.css}" rel="stylesheet">
    <script src="js/script.js"></script>
    <script src="https://kit.fontawesome.com/7f3d5f130c.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="mobile">
    <header>
        <a th:href="${'/auth/info'}">
            <div class="back">
                <i class="fas fa-chevron-left"></i>
            </div>
        </a>
        <h4>My Public Rolling Paper List</h4>
    </header>
    <div class="content">
        <div class="log" th:each="messageDto : ${messageDtos}">
            <input type="hidden" id="messageId" th:value="${messageDto.id}">
            <a th:href="@{'/papers/' + ${messageDto.paperId} + '/messages/' + ${messageDto.id}}">
                <div class="log__header">
                    <p class="log__ticket" th:text="${messageDto.content}"></p>
                </div>
            </a>
        </div>
    </div>
</div>

</body>
</html>